<form class="S0-actor-sheet" autocomplete="off">
  <ul id="floating-menu" class="S0-float-right-sheet">
    {{> "buttons-float-menu" canEdit=canEdit editable=editable canRoll=false hideDarkModeButton=hideDarkModeButton
    hideCompactButton=hideCompactButton}}
    <li>
      <nav class="S0-sheet-tabs" data-group="menu-tabs"></nav>
    </li>
  </ul>

  <div class="S0-container S0-flex S0-items-start S0-col-gap-6">
    <div class="S0-image-npc {{#if editable}}S0-border-primary-alpha-50{{/if}}">
      <img {{#if editable}}data-action="edit" data-characteristic="img" title="Clique para alterar a imagem" {{else}}
        title="Clique para ver a imagem" data-action="view" data-characteristic="img" {{/if}}
        class="S0-actor-images S0-clickable" src="{{actor.img}}">
    </div>

    <div class="S0-flex-col S0-flex-1 S0-gap-6">
      <header>
        <div class="S0-container S0-flex-col S0-gap-4 S0-m-0">
          <h2 class="S0-flex S0-items-center">
            <label class="S0-min-w-72" for="{{uuid}}.name">{{ localize 'S0.Nome' }}:</label>
            <input id="{{uuid}}.name" name="name" type="text" value="{{actor.name}}"
              placeholder="{{ localize 'S0.Nome' }}" {{#unless editable}}disabled{{/unless}} />
          </h2>

          <div class="S0-container-2-column S0-m-0">
            <div class="S0-flex S0-items-center S0-col-gap-6">
              <label for="{{uuid}}.morfologia">{{ localize 'S0.Morfologia' }}:</label>
              <select class="S0-select" id="{{uuid}}.morfologia" name="system.morfologia" {{#unless
                editable}}disabled{{/unless}}>
                {{#with (actorValues actor 'morphology' ) as |morphology|}}
                {{#each (fetchRepository 'morphology')}}
                <option value="{{id}}" {{selectIfEq morphology id }}>
                  {{label}}
                </option>
                {{/each}}
                {{/with}}
              </select>
            </div>

            <div class="S0-flex S0-items-center S0-col-gap-6">
              <label for="{{uuid}}.bairro">{{ localize 'S0.Bairro' }}:</label>
              <select class="S0-select" id="{{uuid}}.bairro" name="system.bairro" {{#unless
                editable}}disabled{{/unless}}>
                {{#with (actorValues actor 'district' ) as |district|}}
                {{#each (fetchRepository 'district')}}
                <option value="{{id}}" {{selectIfEq district id }}>
                  {{label}}
                </option>
                {{/each}}
                {{/with}}
              </select>
            </div>
          </div>
        </div>
      </header>

      <div class="S0-nav-content">
        {{> npcInformations this}}
        {{> npcStatus this}}
        {{> npcBag this}}
      </div>
    </div>
  </div>
</form>