<div class="S0-flex S0-items-center S0-col-gap-10">
  <label class="S0-flex-1" for="{{uuid}}.skill.{{system}}">{{localize name}}:</label>

  <select class="S0-select S0-flex-2" name="system.habilidades.{{system}}.nome" id="{{uuid}}.skill.{{system}}" {{#unless editable}}disabled{{/unless}}>
    {{#lett skill=(actorValues actor 'npc_actual_skill_name' system)}}
    {{#each (fetchRepository 'ability')}}
    <option value="{{id}}" {{selectIfEq ../skill id }}>{{localize label}}</option>
    {{/each}}
    {{/lett}}
  </select>

  {{#if canRoll}}
  <a class="S0-icon-rotate S0-text-16" data-action="roll" data-characteristic="skill" data-subcharacteristic="{{system}}">
    <i class="fas fa-dice-d10"></i>
  </a>
  {{/if}}
</div>