<div class="S0-message-content">
  <h4>{{ localize 'S0.Traco.Traco' }}: {{name}}</h4>
  <hr>

  <label class="S0-block"><strong>{{localize 'S0.Valor'}}:</strong> {{xp}}</label>

  {{#unless (operators 'isNull' morph) }}
  <label class="S0-block"><strong>{{localize 'S0.Morfologia'}}:</strong> {{morph}}</label>
  {{/unless}}

  <label class="S0-block S0-font-bold">{{localize 'S0.Descricao'}}:</label>
  <div class="S0-message-simple-text">
    {{{description}}}
  </div>
</div>