<div class="S0-message-content">
  <h4>{{ localize 'S0.Traco.Traco' }}: {{name}}</h4>
  <hr>

  <label style="display: block;"><strong>{{localize 'S0.Valor'}}:</strong> {{xp}}</label>

  {{#unless (operators 'isNull' morph) }}
  <label style="display: block;"><strong>{{localize 'S0.Morfologia'}}:</strong> {{morph}}</label>
  {{/unless}}

  <label style="display: block; font-weight: bold;">{{localize 'S0.Descricao'}}:</label>
  <div class="S0-message-simple-text">
    {{{description}}}
  </div>
</div>