<div class="S0-dialog">
  <div class="S0-container S0-flex S0-col-gap-6">
    <div class="S0-flex-3">
      <h3>
        {{ localize 'S0.Level' }}: {{level}}
      </h3>
      <label class="S0-font-bold S0-block">{{ name }}</label>
    </div>

    <h3 class="S0-flex S0-items-center S0-justify-center S0-flex-2 S0-max-w-170 S0-m-0">
      {{family}}
    </h3>
  </div>

  <div class="S0-container">
    <label class="S0-block"><strong>{{ localize 'S0.Sobrecarga' }}</strong>: {{ overload }}</label>
    <label class="S0-block"><strong>{{ localize 'S0.Duracao' }}</strong>: {{ duration }}</label>
    <label class="S0-block S0-font-bold">{{ localize 'S0.Testes' }}:</label>

    {{#each possible_tests}}
    <div class="S0-flex S0-items-center S0-col-gap-10 S0-border-b-secondary-alpha S0-p-6">
      <a class="S0-icon-rotate S0-shadow-primary" data-characteristic="enhancement" data-action="roll"
        data-item-id="{{id}}">
        <i class="fas fa-dice-d10"></i>
      </a>
      <div>
        <label class="S0-block S0-mt-0">{{name}}</label>
        <label class="S0-block">
          <h4>{{parse 'roll_enhancement_formule' ../familyId primary_attribute secondary_attribute ability}}
          </h4>
        </label>
        <label class="S0-inline">{{localize 'S0.Dificuldade'}}:</label>
        <h4 class="S0-inline">{{difficulty}}</h4>
      </div>
    </div>
    {{else}}
    <p class="S0-italic">{{localize 'S0.Nao_Possui'}}</p>
    {{/each}}
  </div>

  {{#if (operators 'isNotNull' description)}}
  <div class="S0-container">
    <strong class="S0-block">{{ localize 'S0.Descricao' }}:</strong>
    <div class="S0-message-simple-text">
      {{ description }}
    </div>
  </div>
  {{/if}}
</div>