<form class="S0-mb-8">
  <p>{{localize "S0.SOCKET.SELECT_USERS_TO_SHARE"}}</p>
  <div class="S0-flex S0-flex-col S0-gap-6">
    {{#each selectableUsers as |user|}}
    <label class="S0-flex S0-items-center S0-gap-6">
      <input type="checkbox" name="users" value="{{user.id}}" {{#if ../isGM}}checked{{/if}}> 
      {{user.name}} {{#if user.isGM}}(GM){{/if}} <i class="{{user.icon}} {{user.iconClass}}" title="{{user.title}}"></i>
    </label>
    {{/each}}
  </div>
</form>
