<div class="S0-item-bag S0-clickable {{#if flags.setor0OSubmundo.editable}}S0-marked{{/if}}">
  <div class="S0-item-container" data-action="view" data-characteristic="equipment" data-sub-characteristic="equipped"
    data-type="{{type}}" data-item-id="{{id}}">
    <img src="{{img}}" />

    <h4 class="S0-item-type">
      {{localize (concat 'TYPES.Item.' type)}}
    </h4>

    <span class="S0-item-name S0-hide-long-text">
      {{name}}
    </span>
  </div>

  <div class="S0-item-legend">
    <a class="S0-icon-swaper" data-action="chat" data-characteristic="equipment" data-type="{{type}}"
      data-sub-characteristic="equipped" data-item-id="{{id}}" title="{{localize 'S0.Enviar_No_Chat'}}">
      <i class="fas fa-message S0-icon-idle"></i>
      <i class="fas fa-message-quote S0-icon-hover"></i>
    </a>

    {{#if @root/canRoll}}
    {{#if (itemValues this 'canRoll')}}
    <a class="S0-icon-rotate" data-action="roll" data-characteristic="equipment" data-type="{{type}}"
      data-sub-characteristic="equipped" data-item-id="{{id}}" title="{{localize 'S0.Rolar'}}">
      <i class="fas fa-dice-d10"></i>
    </a>
    {{/if}}

    <a class="S0-icon-swaper" data-action="remove" data-characteristic="equipment" data-type="{{type}}"
      data-sub-characteristic="equipped" data-item-id="{{id}}" title="{{localize 'S0.Desequipar'}}">
      <i class="fas fa-arrow-down-to-bracket S0-icon-idle"></i>
      <i class="fas fa-arrow-down-to-square S0-icon-hover"></i>
    </a>
    {{/if}}
  </div>
</div>