<div id="{{item.id}}.superequipment"
  class="S0-page S0-container S0-superequipment-container {{#unless (itemValues item 'superequipment')}}S0-superequipment-contracted{{/unless}}">
  <div class="S0-flex S0-items-center">
    <h4> {{localize 'S0.SuperEquipamento'}}</h4>
    <input type="checkbox" data-action="check" data-characteristic="characteristic" data-type="superequipment" {{#if
      (itemValues item 'superequipment' )}}checked{{/if}}>
  </div>

  <div class="S0-characteristic-container S0-px-16">
    <label>
      {{localize 'S0.Nivel'}}
    </label>

    {{#forLoop 0 5}}
    <div
      class="S0-characteristic {{#if ../editable}}S0-clickable{{/if}} {{#if (operators 'gt' (itemValues ../item 'superequipment_level') index)}}S0-selected{{/if}}"
      data-action="check" data-characteristic="characteristic" data-type="level">
    </div>
    {{/forLoop}}
  </div>

  <div class="S0-characteristic-container S0-px-16">
    <label>
      {{localize 'S0.Ativo'}}
    </label>

    <a class="S0-characteristic S0-clickable {{#if (itemValues item 'superequipment_active')}}S0-selected{{/if}}"
      data-tooltip="{{#if (itemValues item 'superequipment_active')}}{{localize 'S0.Desativar'}}{{else}}{{localize 'S0.Ativar'}}{{/if}}"
      data-tooltip-direction="UP" data-action="check" data-characteristic="superequipment" data-type="active"
      data-item-id="{{item.id}}">
    </a>
  </div>

  <hr class="S0-m-2">

  <div class="S0-p-4">
    <h4>
      {{localize 'S0.Itens.Efeitos'}}

      {{#if editable}}
      <label class="S0-text-11">
        {{itemValues item 'superequipment_effects_limit'}}
      </label>
      <a class="S0-icon-expand" data-characteristic="superequipment" data-subcharacteristic="trait" data-action="add"
        data-type="good" title="Adicionar">
        <i class="fas fa-square-plus"></i>
      </a>
      {{/if}}
    </h4>
    <ul>
      {{#each (itemValues item 'superequipment_effects')}}
      <li>
        <div class="S0-flex S0-items-center S0-my-2 S0-py-8 S0-border-b-secondary S0-min-h-35">
          <div class="S0-flex-1 S0-text-12 S0-mr-4 S0-min-w-0">
            <label class="S0-block">[{{cost}}] {{name}}</label>
            {{#if particularity}}
            <label class="S0-hide-long-text S0-block">({{particularity.description}})</label>
            {{/if}}
          </div>

          {{#if ../editable}}
          <a class="S0-icon-expand" data-characteristic="superequipment" data-subcharacteristic="trait"
            data-action="remove" data-item-id="{{id}}" title="Remover" data-type="good">
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>

    <h4 class="S0-mt-10">
      {{localize 'S0.Itens.Defeitos'}}

      {{#if editable}}
      <label class="S0-overflow-hidden S0-text-11 S0-w-calc-30 S0-truncate">
        {{itemValues item 'superequipment_defects_limit'}}
      </label>
      <a class="S0-icon-expand" data-characteristic="superequipment" data-subcharacteristic="trait" data-action="add"
        data-type="bad" title="Adicionar">
        <i class="fas fa-square-plus"></i>
      </a>
      {{/if}}
    </h4>

    <ul>
      {{#each (itemValues item 'superequipment_defects')}}
      <li class="S0-flex S0-items-center S0-my-2 S0-py-8 S0-border-b-secondary S0-min-h-35">
        <div class="S0-flex-1 S0-text-12 S0-mr-4 S0-min-w-0">
          <label class="S0-block">[{{cost}}] {{name}}</label>
          {{#if particularity}}
          <label class="S0-hide-long-text S0-block">({{particularity.description}})</label>
          {{/if}}
        </div>

        {{#if ../editable}}
        <a class="S0-icon-expand" data-characteristic="superequipment" data-subcharacteristic="trait"
          data-action="remove" data-item-id="{{id}}" title="Remover" data-type="bad">
          <i class="fas fa-trash"></i>
        </a>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>