<div class="S0-dialog">
  <div class="S0-flex S0-items-center S0-col-gap-4">
    <button class="S0-button-confirm" data-action="check" data-item="0">{{localize 'S0.Padrao'}}</button>
    <button class="S0-button-confirm" data-action="check" data-item="1">{{localize 'S0.Virtude.Virtudes'}}</button>
    <button class="S0-button-confirm" data-action="check" data-item="2">{{localize 'S0.Simples'}}</button>
    <button class="S0-button-confirm" data-action="check" data-item="3">{{localize 'S0.Customizado'}}</button>
  </div>

  <div class="S0-container">
    <form>
      <div data-characteristic="page" data-item="0">
        <h3>{{localize 'S0.Atributos.Atributos'}}</h3>
        <div class="form-group">
          <select class="S0-select S0-mx-4" id="{{uuid}}.attr1" name="attr1">
            {{#each attributes}}
            <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>

          <select class="S0-select S0-mx-4" id="{{uuid}}.attr2" name="attr2">
            {{#each attributes}}
            <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Habilidade'}}</h3>
        <div class="form-group">
          <select class="S0-select S0-flex-1" id="{{uuid}}.ability" name="ability">
            {{#each abilities}}
            <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>

          <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
            <label class="S0-flex-1" for="{{uuid}}.specialist">{{localize 'S0.Especialista'}}:</label>
            <input id="{{uuid}}.specialist" name="specialist" type="checkbox">
          </div>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Outros'}}</h3>
        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.difficulty">{{localize 'S0.Dificuldade'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.difficulty" name="difficulty">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 6}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.critic">{{localize 'S0.Critico'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.critic" name="critic">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 10}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.bonus">{{localize 'S0.Bonus'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.bonus" name="bonus" type="number" value="0">
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.automatic">{{localize 'S0.Automatico'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.automatic" name="automatic" type="number" value="0" min="0">
        </div>
      </div>
    </form>

    <form>
      <div data-characteristic="page" data-item="1">
        <h3>{{localize 'S0.Virtude.Virtudes'}}</h3>

        <div class="form-group">
          <select class="S0-select S0-mx-4" id="{{uuid}}.virtue_virtue1" name="virtue1">
            {{#each virtues}}
            <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>

          <select class="S0-select S0-mx-4" id="{{uuid}}.virtue_virtue2" name="virtue2">
            {{#each virtues}}
            <option value="{{id}}">{{label}}</option>
            {{/each}}
          </select>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Outros'}}</h3>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.virtue_difficulty">{{localize 'S0.Dificuldade'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.virtue_difficulty" name="difficulty">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 6}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.virtue_bonus">{{localize 'S0.Bonus'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.virtue_bonus" name="bonus" type="number" value="0">
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.virtue_penalty">{{localize 'S0.Penalidade'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.virtue_penalty" name="penalty" type="number" value="0">
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.virtue_automatic">{{localize 'S0.Automatico'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.virtue_automatic" name="automatic" type="number" min="0" value="0">
        </div>
      </div>
    </form>

    <form>
      <div data-characteristic="page" data-item="2">
        <h3>{{localize 'S0.Valores'}}</h3>
        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.simple_value">{{localize 'S0.Quantidade'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.simple_value" name="value" type="number" value="0">
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.simple_automatic">{{localize 'S0.Automatico'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.simple_automatic" name="automatic" type="number" min="0" value="0">
        </div>

        <div class="form-group">
          <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
            <label class="S0-flex-1" for="{{uuid}}.simple_specialist">{{localize
              'S0.Especialista'}}:</label>
            <input id="{{uuid}}.simple_specialist" name="specialist" type="checkbox">
          </div>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Dificuldades'}}</h3>
        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.simple_difficulty">{{localize 'S0.Dificuldade'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.simple_difficulty" name="difficulty">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 6}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.simple_critic">{{localize 'S0.Critico'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.simple_critic" name="critic">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 10}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>
      </div>
    </form>

    <form>
      <div data-characteristic="page" data-item="3">
        <h3>{{localize 'S0.Caracteristicas'}}</h3>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_characteristic1">{{localize 'S0.Caracteristica'}}
            1*</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.custom_characteristic1" name="characteristic1">
            {{#each allCharacteristic}}
            <optgroup class="S0-text-start" label="{{group_label}}">
              {{#each group_items}}
              <option value="{{id}}">{{label}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_characteristic2">{{localize 'S0.Caracteristica'}}
            2*</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.custom_characteristic2" name="characteristic2">
            {{#each allCharacteristic}}
            <optgroup class="S0-text-start" label="{{group_label}}">
              {{#each group_items}}
              <option value="{{id}}">{{label}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_characteristic3">{{localize 'S0.Caracteristica'}} 3
            <i class="fas fa-info S0-text-xx-small" title="Utilizando uma terceira característica o teste é feito no padrão (Característica 1 + Caracteristica 2)/2 + Caracteristica 3"></i>
          </label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.custom_characteristic3" name="characteristic3">
            {{#each allCharacteristic}}
            <optgroup class="S0-text-start" label="{{group_label}}">
              {{#each group_items}}
              <option value="{{id}}" {{ selectIfEq (operators 'isNull' id) true}}>{{label}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
            <label class="S0-flex-1" for="{{uuid}}.custom_isHalf">{{localize 'S0.Dividido'}}:</label>
            <input id="{{uuid}}.custom_isHalf" name="half" type="checkbox">
          </div>
          <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
            <label class="S0-flex-1" for="{{uuid}}.custom_specialist">{{localize
              'S0.Especialista'}}:</label>
            <input id="{{uuid}}.custom_specialist" name="specialist" type="checkbox">
          </div>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Dificuldades'}}</h3>
        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_difficulty">{{localize 'S0.Dificuldade'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.custom_difficulty" name="difficulty">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 6}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_critic">{{localize 'S0.Critico'}}:</label>
          <select class="S0-select S0-flex-1" id="{{uuid}}.custom_critic" name="critic">
            {{#forLoop 5 11}}
            <option value="{{index}}" {{selectIfEq index 10}}>{{index}}</option>
            {{/forLoop}}
          </select>
        </div>

        <h3 class="S0-mt-10">{{localize 'S0.Modificadores'}}</h3>
        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_bonus">{{localize 'S0.Bonus'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.custom_bonus" name="bonus" type="number" value="0">
        </div>

        <div class="form-group">
          <label class="S0-flex-1" for="{{uuid}}.custom_automatic">{{localize 'S0.Automatico'}}:</label>
          <input class="S0-flex-1" id="{{uuid}}.custom_automatic" name="automatic" type="number" min="0" value="0">
        </div>
      </div>
    </form>

    <hr>

    {{> roll-chat-mode}}
  </div>
</div>