<div class="S0-container">
  <h3 class="S0-my-4">{{localize 'S0.Modificadores'}}</h3>
  <div class="form-group">
    <label class="S0-flex-1" for="{{uuid}}.difficulty">{{localize 'S0.Dificuldade'}}:</label>
    <select class="S0-select S0-flex-1" id="{{uuid}}.difficulty" name="difficulty">
      {{#with (operators 'orValue' values.difficulty 6) as |selected|}}
      {{#forLoop 5 11}}
      <option value="{{index}}" {{selectIfEq index selected}}>{{index}}</option>
      {{/forLoop}}
      {{/with}}
    </select>
  </div>

  <div class="form-group">
    <label class="S0-flex-1" for="{{uuid}}.critic">{{localize 'S0.Critico'}}:</label>
    <select class="S0-select S0-flex-1" id="{{uuid}}.critic" name="critic">
      {{#with (operators 'orValue' values.critic 10) as |selected|}}
      {{#forLoop 5 11}}
      <option value="{{index}}" {{selectIfEq index selected}}>{{index}}</option>
      {{/forLoop}}
      {{/with}}
    </select>
  </div>

  {{#if canBeOverload}}
  <div class="form-group">
    <label class="S0-flex-1" for="{{uuid}}.overload">{{localize 'S0.Sobrecarga'}}:</label>
    <input class="S0-flex-1" id="{{uuid}}.overload" name="overload" type="number" value="{{values.overload}}" max="5"
      min="0">
  </div>
  {{/if}}

  {{#if canBePenalty}}
  <div class="form-group">
    <label class="S0-flex-1" for="{{uuid}}.penalty">{{localize 'S0.Penalidade'}}:</label>
    <input class="S0-flex-1" id="{{uuid}}.penalty" name="penalty" type="number" value="{{values.penalty}}" min="0">
  </div>
  {{/if}}

  <div class="form-group">
    {{#with (operators 'orValue' values.bonus 0) as |value|}}
    <label class="S0-flex-1" for="{{uuid}}.bonus">{{localize 'S0.Bonus'}}:</label>
    <input class="S0-flex-1" id="{{uuid}}.bonus" name="bonus" type="number" value="{{value}}">
    {{/with}}
  </div>

  <div class="form-group">
    {{#with (operators 'orValue' values.automatic 0) as |value|}}
    <label class="S0-flex-1" for="{{uuid}}.automatic">{{localize 'S0.Automatico'}}:</label>
    <input class="S0-flex-1" id="{{uuid}}.automatic" name="automatic" type="number" value="{{value}}" min="0">
    {{/with}}
  </div>

  {{#if (operators 'or' canBeHalf canBeSpecialist)}}
  <div class="form-group">
    {{#if canBeHalf}}
    <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
      <label class="S0-flex-1" for="{{uuid}}.isHalf">{{localize 'S0.Dividido'}}:</label>
      <input id="{{uuid}}.isHalf" name="half" type="checkbox">
    </div>
    {{/if}}

    {{#if canBeSpecialist}}
    <div class="S0-flex S0-flex-1 S0-items-center S0-justify-between">
      <label class="S0-flex-1" for="{{uuid}}.specialist">{{localize 'S0.Especialista'}}:</label>
      <input id="{{uuid}}.specialist" name="specialist" type="checkbox" {{#if values.specialist}}checked{{/if}}>
    </div>
    {{/if}}
  </div>
  {{/if}}

  <hr>

  {{> roll-chat-mode}}
</div>