<div class="S0-dialog S0-container">
  <h4>
    {{#if effectTypeLabel}}
    <label>{{effectTypeLabel}}:</label>
    {{/if}}
    <label class="S0-text-shadow-none">{{name}}</label>
  </h4>
  <hr>

  {{#if origin}}
  <label class="S0-block"><strong>{{localize 'S0.Origem'}}:</strong> {{origin}}</label>
  {{/if}}

  {{#if originTypeLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Tipo'}}:</strong> {{originTypeLabel}}</label>
  {{/if}}

  {{#if disabled}}
  <label class="S0-block"><strong>{{localize 'S0.Status'}}:</strong> {{localize 'S0.Inativo'}}</label>
  {{/if}}

  {{#if description}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Descricao'}}:</label>
  <div class="S0-message-simple-text">
    {{{description}}}
  </div>
  {{/if}}

  {{#if hasChanges}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Mudancas'}}:</label>
  <ul class="S0-pl-16 S0-my-2 S0-mx-0">
    {{#each changes}}
    <li>{{this.label}}: {{this.value}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>