<div class="S0-container S0-flex-col S0-gap-4">
  <h3 class="S0-m-0">{{localize 'S0.Anotacao.Descricao_Curta'}}</h3>
  {{#if readOnly}}
  <label class="S0-mt-0">{{descricao_curta}}</label>
  {{else}}
  <div class="form-group">
    <input class="S0-resize-none" type="text" maxlength="60" name="descricaoCurta" value="{{descricao_curta}}"
      placeholder="{{localize 'S0.Anotacao.Descricao_Curta_Placeholder'}}">
  </div>
  {{/if}}

  {{#if (operators 'or' descricao_longa (operators 'not' readOnly))}}
  <h3 class="S0-m-0">{{localize 'S0.Anotacao.Descricao_Longa'}}</h3>
  {{#if readOnly}}
  <label class="S0-mt-0">{{descricao_longa}}</label>
  {{else}}
  <textarea name="descricaoLonga" rows="3"
    placeholder="{{localize 'S0.Anotacao.Descricao_Longa_Placeholder'}}">{{#if descricao_longa}}{{descricao_longa}}{{/if}}</textarea>
  {{/if}}
  {{/if}}
</div>