<form class="S0-equipment-sheet" autocomplete="off">
  {{> itemCommon this}}

  <div class="S0-page S0-container S0-container-2-fixed-column S0-items-center">
    {{> itemCommonWeapon this}}

    <label for="{{item.id}}.size">{{localize 'S0.Itens.Tamanho'}}:</label>
    <select id="{{item.id}}.size" class="S0-select" name="system.size">
      {{#with (itemValues item 'size') as |size|}}
      {{#each (fetchRepository 'equipment-melee-size')}}
      <option value="{{id}}" {{selectIfEq size id }}>{{label}}</option>
      {{/each}}
      {{/with}}
      </option>
    </select>
  </div>

  {{#if (itemValues item 'superequipment')}}
  {{> itemCommonResistance this}}
  {{/if}}

  {{> itemSuperEquipment this}}

  {{> itemRollableTests this}}

  {{> itemCommonDescription this}}
</form>