<form class="S0-equipment-sheet" autocomplete="off">
  {{> itemCommon this}}

  <div class="S0-page S0-container S0-container-2-fixed-column S0-items-center">
    <label for="{{item.id}}.type">{{localize 'S0.Tipo'}}:</label>
    <select id="{{item.id}}.type" class="S0-select" name="system.vehicle_type">
      {{#with (itemValues item 'vehicle_type') as |vehicle_type|}}
      {{#each (fetchRepository 'equipment-vehicle-type')}}
      <option value="{{id}}" {{selectIfEq vehicle_type id }}>{{label}}</option>
      {{/each}}
      {{/with}}
      </option>
    </select>

    <label for="{{item.id}}.acceleration">{{localize 'S0.Aceleracao'}}:</label>
    <input id="{{item.id}}.acceleration" type="number" name="system.acceleration" min="0" max="6"
      value="{{itemValues item 'acceleration'}}" />

    <label for="{{item.id}}.speed">{{localize 'S0.Velocidade'}}:</label>
    <input id="{{item.id}}.speed" type="number" name="system.speed" min="0" max="6"
      value="{{itemValues item 'speed'}}" />
  </div>

  {{> itemCommonResistance this}}

  {{> itemSuperEquipment this}}

  {{> itemRollableTests this}}

  {{> itemCommonDescription this}}
</form>