<section class="S0-page tab" data-group="menu-tabs" data-tab="biography" data-label="{{ localize 'S0.Biografia' }}"
  data-icon="fas fa-address-book">
  <div class="S0-container S0-relative">
    <h2>{{localize 'S0.Descricao'}}</h2>
    <div class="S0-flex S0-justify-center S0-items-center">
      <img id="actor-image" src="{{actor.img}}" {{#if editable}} class="S0-clickable" data-action="edit"
        data-characteristic="img" data-actor-id="{{actor.id}}" {{/if}}>
    </div>

    <div class="S0-biography-container-button">
      <a class="S0-icon-expand" data-action="view" data-characteristic="menu" data-type="actor"
        title="{{localize 'SIDEBAR.CharArt'}}">
        <i class="fas fa-eye"></i>
        <span class="S0-ml-10">{{localize 'SIDEBAR.CharArt'}}</span>
      </a>

      <a class="S0-icon-expand" data-action="view" data-characteristic="menu" data-type="token"
        title="{{localize 'SIDEBAR.TokenArt'}}">
        <i class="fas fa-eye"></i>
        <span class="S0-ml-10">{{localize 'SIDEBAR.TokenArt'}}</span>
      </a>
    </div>

    <div class="S0-container S0-flex-col S0-row-gap-4">
      <div>
        <label class="S0-block S0-m-4" for="assignment">{{ localize 'S0.Atuacao' }}</label>
        <input id="assignment" name="system.background.assignment" type="text" rows="5"
          placeholder="{{ localize 'S0.Atuacao' }}" value="{{actorValues actor 'assignment'}}">
      </div>

      <div>
        <label class="S0-block S0-m-4" for="biography">{{ localize 'S0.Biografia' }}</label>
        <textarea class="S0-resize-block" id="biography" name="system.background.biography" rows="5"
          placeholder="{{ localize 'S0.Biografia' }}">{{actorValues actor 'biography'}}</textarea>
      </div>
    </div>
  </div>

  <div class="S0-container">
    <h2> {{localize 'S0.Linguas'}}
      <label class="S0-text-11">
        {{actorValues actor 'actual_languages'}}/{{actorValues actor 'total_languages'}}
      </label>
    </h2>
    <div id="linguasContainer" class="S0-container-4-fixed-column">
      {{#lett languages=(actorValues actor 'raw_property' CharacteristicType.LANGUAGE)}}
      {{#each (fetchRepository 'language')}}
      <div class="S0-characteristic-container S0-language-container" id="{{id}}">
        <label title="{{district}}">
          {{label}}
        </label>
        <div class="S0-characteristic {{#if ../editable}}S0-clickable{{/if}} {{#if (operators 'includes' ../languages id)}}S0-selected{{/if}}" data-action="add"
          data-characteristic="language">
        </div>
      </div>
      {{/each}}
      {{/lett}}
    </div>
  </div>

  <div class="S0-container">
    <h2> {{localize 'S0.Traco.Tracos'}} </h2>
    <section id="tracosContainer" class="S0-container-2-fixed-column">
      {{> traitPartialContainer traits=(actorLists actor 'good_traits') type="good" title='S0.Traco.Tracos_Bons' }}

      {{> traitPartialContainer traits=(actorLists actor 'bad_traits') type="bad" title='S0.Traco.Tracos_Ruins' }}
    </section>
  </div>

</section>