<div class="S0-py-4">
  <h3> {{localize title}}
    {{#if editable}}
    <a class="S0-icon-expand" data-characteristic="trait" data-action="add" data-type="{{type}}"
      title="{{localize 'S0.Adicionar'}}">
      <i class="fas fa-square-plus"></i>
    </a>
    {{/if}}
  </h3>

  <ul id="container-trait-{{type}}">
    {{#each traits as |item index|}}
    {{#with ../type as |type|}}

    <li class="S0-flex S0-items-center" style="padding: 2px;" data-item-index="{{index}}" data-item-id="{{item.id}}">
      <label class="S0-flex-1">{{item.name}}</label>

      {{#if @root.editable}}

      <a class="S0-icon-expand S0-mx-4" data-action="edit" data-characteristic="trait" data-type="{{type}}" data-item-id="{{item.id}}" title="{{localize 'S0.Editar'}}">
        <i class="fas fa-edit"></i>
      </a>
      <a class="S0-icon-expand S0-mx-4" data-action="remove" data-characteristic="trait" data-type="{{type}}" data-item-id="{{item.id}}" title="{{localize 'S0.Remover'}}">
        <i class="fas fa-trash"></i>
      </a>

      {{else}}

      <a class="S0-icon-expand S0-mx-4" data-action="chat" data-characteristic="trait" data-type="{{type}}" data-item-id="{{item.id}}" title="{{localize 'S0.Enviar_No_Chat'}}">
        <i class="fas fa-message-quote"></i>
      </a>
      <a class="S0-icon-expand S0-mx-4" data-action="view" data-characteristic="trait" data-type="{{type}}" data-item-id="{{item.id}}" title="{{localize 'S0.Ver_Informacoes'}}">
        <i class="fas fa-eye"></i>
      </a>

      {{/if}}
    </li>
    {{/with}}
    {{/each}}
  </ul>
</div>