<section class="S0-page tab" data-group="menu-tabs" data-tab="enhancement"
  data-label="{{localize 'S0.Aprimoramento.Nome_Plural'}}" id="enhancementPage" data-icon="fas fa-lungs">
  {{#if (operators 'gt' (actorValues actor 'core') 0)}}
  <div class="S0-container">
    {{> actorOverload this}}
  </div>
  {{/if}}

  <div class="S0-container">
    <h2>
      {{localize 'S0.Aprimoramento.Nome_Plural'}}
      <label class="S0-text-11">
        {{actorValues actor 'actual_enhancements'}}/{{actorValues actor 'total_enhancements'}}
      </label>
      {{#if canEdit}}
      <a class="S0-icon-rotate S0-text-small" data-action="remove" data-characteristic="enhancement"
        title="{{localize 'S0.Atualizar_Efeitos'}}">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h2>

    <div class="S0-container-2-column S0-my-2 S0-py-2 S0-row-gap-8">
      {{#forLoop 1 5}}
      {{> enhancementPartial enhancement-slot=index canEdit=../canEdit}}
      {{/forLoop}}
    </div>
  </div>

</section>