{{#if (operators 'isNotNull' (actorValues actor 'experience'))}}
<div class="S0-container">
  <h2>
    {{localize 'S0.Experiencia'}}
  </h2>

  <ul class="S0-ul-flex">
    {{#if editable}}

    {{#if (gameFunc 'isGm')}}
    <li class="S0-container">
      <h3>
        <label for="experiencia.atual">{{localize 'S0.Disponivel'}}</label>
      </h3>
      <h4 class="S0-m-0">
        <input id="experiencia.atual" name="system.experiencia.atual" type="number"
          value="{{actorValues actor 'actual_experience'}}" placeholder="0" />
      </h4>
    </li>
    {{else}}
    <li class="S0-container">
      <h3>{{localize 'S0.Disponivel'}}</h3>
      <h4 class="S0-m-0">{{actorValues actor 'actual_experience'}}</h4>
    </li>
    {{/if}}

    <li class="S0-container">
      <h3>
        <label for="experiencia.usada">{{localize 'S0.Usada'}}</label>
      </h3>
      <h4 class="S0-m-0">
        <input id="experiencia.usada" name="system.experiencia.usada" type="number"
          value="{{actorValues actor 'used_experience'}}" placeholder="0" />
      </h4>
    </li>

    {{else}}

    <li class="S0-container">
      <h3>{{localize 'S0.Disponivel'}}</h3>
      <h4 class="S0-m-0">{{actorValues actor 'actual_experience'}}</h4>
    </li>
    <li class="S0-container">
      <h3>{{localize 'S0.Usada'}}</h3>
      <h4 class="S0-m-0">{{actorValues actor 'used_experience'}}</h4>
    </li>

    {{/if}}

    <li class="S0-container">
      <div class="S0-h-full S0-flex-col S0-justify-center">
        <h3>{{localize 'S0.Total'}}</h3>
        <h4 class="S0-m-0">{{actorValues actor 'total_experience'}}</h4>
      </div>
    </li>
  </ul>
</div>
{{/if}}
