<section class="S0-page tab" data-group="menu-tabs" data-tab="shortcuts" data-label="{{localize 'S0.Atalho.Atalhos'}}"
  id="shortcutPage" data-icon="fas fa-bolt-auto">

  <div class="S0-container">
    <h2>
      {{localize 'S0.Especialidade.Especialidades'}}
      <a class="S0-icon-expand" data-action="view" data-characteristic="specialties">
        <i class="fas fa-chevron-down"></i>
      </a>
      {{#if editable}}
      <a class="S0-icon-expand" data-action="add" data-characteristic="specialties" title="{{localize 'S0.Adicionar'}}">
        <i class="fas fa-square-plus"></i>
      </a>
      {{/if}}
    </h2>

    {{#if (operators 'isEmpty' (actorLists actor 'specialties'))}}
    <div id="specialties-container-{{actor.id}}" class="S0-container-contract">
      <div class="S0-text-center S0-italic S0-my-4">
        {{localize 'S0.Especialidade.Nenhuma_Adicionada'}}
      </div>
    </div>
    {{else}}
    <div id="specialties-container-{{actor.id}}"
      class="S0-container-3-fixed-column S0-container-contract S0-row-gap-0 S0-col-gap-4">
      {{#each (actorLists actor 'specialties') as |spec|}}
      <div class="S0-container S0-flex S0-items-center S0-gap-4">
        <div class="S0-flex-col S0-flex-1">
          <label class="S0-text-start S0-pointer-events-none">
            {{spec.label}}
          </label>
          <label class="S0-text-start S0-pointer-events-none S0-text-12">
            {{spec.descricao_curta}}
          </label>
        </div>
        {{#if ../editable}}
        <a class="S0-icon-expand S0-centralized-icon" data-action="edit" data-characteristic="specialties"
          data-item-id="{{spec.index}}" title="{{localize 'S0.Editar'}}">
          <i class="fas fa-edit"></i>
        </a>
        {{/if}}
        <a class="S0-icon-expand S0-centralized-icon" data-action="view" data-characteristic="specialties"
          data-item-id="{{spec.index}}" title="{{localize 'S0.Ver_Informacoes'}}">
          <i class="fas fa-eye"></i>
        </a>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="S0-container">
    <h2>
      {{localize 'S0.Ofensivo'}}
    </h2>

    <div class="S0-container-3-fixed-column">
      {{> shortcutDefaultPartial title='S0.Disparar'
      subcharacteristic='offensive'
      actorMethodValue1='offensive_projectile' type1='projectile-complete'
      actorMethodValue2='offensive_projectile_half' type2='projectile-half'}}

      {{> shortcutDefaultPartial title='S0.Briga'
      subcharacteristic='offensive'
      actorMethodValue1='offensive_brawl' type1='brawl-complete'
      actorMethodValue2='offensive_brawl_half' type2='brawl-half'}}

      {{> shortcutDefaultPartial title='S0.Armas_Brancas'
      subcharacteristic='offensive'
      actorMethodValue1='offensive_melee' type1='melee-complete'
      actorMethodValue2='offensive_melee_half' type2='melee-half' }}
    </div>
  </div>

  <div class="S0-container">
    <h2>
      {{localize 'S0.Defensivo'}}
    </h2>

    <div class="S0-container-3-fixed-column">
      {{> shortcutDefaultPartial title='S0.Esquivar'
      subcharacteristic='defensive'
      actorMethodValue1='defensive_dodge' type1='dodge-complete'
      actorMethodValue2='defensive_dodge_half' type2='dodge-half'}}

      {{> shortcutDefaultPartial title='S0.Bloquear'
      subcharacteristic='defensive'
      actorMethodValue1='defensive_block_brawl' type1='brawl-complete'
      actorMethodValue2='defensive_block_brawl_half' type2='brawl-half'}}

      {{> shortcutDefaultPartial title='S0.Aparar'
      subcharacteristic='defensive'
      actorMethodValue1='defensive_block_melee' type1='melee-complete'
      actorMethodValue2='defensive_block_melee_half' type2='melee-half'}}
    </div>
  </div>

  <div class="S0-container">
    <h2>
      {{localize 'S0.Atalho.Outros_Atalhos'}}
      <a class="S0-icon-expand" data-action="view" data-characteristic="shortcuts">
        <i class="fas fa-chevron-up"></i>
      </a>
      {{#if editable}}
      <a class="S0-icon-expand" data-characteristic="shortcuts" data-action="add" title="{{localize 'S0.Adicionar'}}">
        <i class="fas fa-square-plus"></i>
      </a>
      {{/if}}
    </h2>

    {{#if (operators 'isEmpty' (actorLists actor 'shortcuts'))}}
    <div id="shortcuts-container-{{actor.id}}" class="S0-container-contract S0-drop-container S0-expanded">
      <li class="S0-label-drop-container S0-my-4">
        {{localize 'S0.Atalho.Nenhum_Atalho_Adicionado'}}
      </li>
    </div>
    {{else}}
    <div id="shortcuts-container-{{actor.id}}"
      class="S0-container-2-fixed-column S0-container-contract S0-drop-container S0-expanded S0-overflow-y-scroll S0-pl-4 S0-row-gap-0 S0-col-gap-4">
      {{#each (actorLists actor 'shortcuts') as |shortcut|}}
      <div class="S0-container S0-shortcut-item S0-gap-6 {{#if ../editable}}draggable{{/if}}">
        {{#if ../editable}}
        <a class="S0-icon-expand S0-text-center S0-w-20" title="{{localize 'S0.Editar'}}" data-action="edit"
          data-characteristic="shortcuts" data-item-id="{{shortcut.id}}">
          <i class="fas fa-edit"></i>
        </a>
        {{/if}}

        <label class="S0-max-2-line-text S0-text-start S0-flex-1 S0-pointer-events-none S0-max-w-160">
          {{shortcut.name}}
        </label>

        <h3 class="S0-h-marked S0-w-40" {{#if shortcut.specialist}} title="{{localize 'S0.Especialista'}}" {{/if}}
          style="{{#if shortcut.specialist}}border: 2px ridge var(--primary-color-alpha);{{/if}}">
          {{actorValues ../actor 'calculate_dice_pool' shortcut}}
          {{#if (operators 'gt' automatic 0)}}
          <span class="S0-block S0-text-10">{{automatic}}*</span>
          {{/if}}
        </h3>

        {{#if ../canRoll}}
        <a class="S0-icon-rotate S0-text-center S0-w-20" title="{{localize 'S0.Rolar'}}" data-action="roll"
          data-characteristic="shortcuts" data-item-id="{{shortcut.id}}">
          <i class="fas fa-dice-d10"></i>
        </a>
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>