<section class="S0-page tab" data-group="menu-tabs" data-tab="status" data-label="{{ localize 'S0.Status' }}"
  id="statusPage" data-icon="fas fa-heart-pulse">

  <div class="S0-container">
    <h2> {{localize 'S0.Situacao'}}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="all">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h2>
    {{> statusBasicPartial}}
    {{> statusVirtuesPartial}}
    {{> statusHealthPartial}}
  </div>

  <div class="S0-container">
    <h2>
      {{localize 'S0.Efeitos_Ativos'}}
      <a class="S0-icon-expand" data-action="check" data-characteristic="effects" data-type="expand">
        <i class="fas fa-chevron-up"></i>
      </a>
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="check" data-characteristic="effects" data-type="refresh"
        title="{{localize 'S0.Reiniciar_Efeitos_Passivos'}}">
        <i class="fas fa-refresh"></i>
      </a>
      <a class="S0-icon-expand" data-action="remove" data-characteristic="effects" data-type="all"
        title="{{localize 'S0.Remover_Todos_Efeitos'}}">
        <i class="fas fa-trash"></i>
      </a>
      {{/if}}
    </h2>

    <ul id="effects-container" class="S0-container S0-container-contract S0-expanded">
      {{#each (actorLists actor 'effects') as |item|}}
      {{> status-effects-partial item=item canEdit=../canEdit}}
      {{/each}}
    </ul>
  </div>
</section>