<ul class="S0-ul-flex">
  {{#if (operators 'eq' (actorValues actor 'morphology') 'sintetico')}}
  <li class="S0-container">
    <h3>
      {{ localize 'S0.Vida' }}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="roll" data-characteristic="temporary" data-type="life">
        <i class="fas fa-dice-d10"></i>
      </a>
      {{/if}}
    </h3>
    <div id="vida" class="S0-inner-container">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 10}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="life">
      </div>
      {{/forLoop}}
      {{/lett}}
    </div>
  </li>
  {{/if}}

  {{#if (operators 'gt' (actorValues actor 'core') 0)}}
  <li class="S0-container">
    {{> actorOverload this}}
  </li>
  {{/if}}
</ul>

<ul class="S0-ul-flex">
  {{#if (actorValues actor 'have_equipped_armor') }}
  <div class="S0-container S0-flex-1 S0-flex-col">
    <h3>
      {{ localize 'S0.Protecao' }}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="protect">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h3>

    <div id="protect" class="S0-inner-container S0-wrap S0-flex-1 S0-col-gap-12 S0-row-gap-10">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 (actorValues actor 'equipped_amor_total_resistance')}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="protect">
      </div>
      {{/forLoop}}
      {{/lett}}
    </div>
  </div>
  {{/if}}

  <li class="S0-container S0-flex-3">
    <h3>
      {{ localize 'S0.Dano' }}
      <label class="S0-text-11">
        {{actorValues actor 'current_damage'}}/{{actorValues actor 'vitality'}}
      </label>
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="health">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h3>
    <div id="vitalidade" class="S0-inner-container">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check_contextual' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 (actorValues actor 'vitality')}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="health">
      </div>
      {{/forLoop}}
      {{/lett}}
    </div>

    <div class="S0-container S0-flex S0-mb-2 S0-justify-around">
      <div class="S0-inner-li S0-flex-1">
        <label><strong>{{localize 'S0.Clique_Esquerdo'}}:</strong> {{localize 'S0.Letal'}}</label>
        <div class="S0-characteristic S0-characteristic-temp S0-letal">
        </div>
      </div>
      <div class="S0-inner-li S0-flex-1">
        <label><strong>{{localize 'S0.Clique_Direito'}}:</strong> {{localize 'S0.Superficial'}}</label>
        <div class="S0-characteristic S0-characteristic-temp S0-superficial">
        </div>
      </div>
    </div>
  </li>
</ul>
