<ul class="S0-ul-flex">
  <li class="S0-container">
    <h3>
      {{ localize 'S0.Consciencia'}}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
        data-item-type="consciencia">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h3>
    <div id="consciencia" class="S0-inner-container">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 (actorValues actor 'actual_consciousness')}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="virtue" data-item-type="consciencia">
      </div>
      {{/forLoop}}

      {{/lett}}
    </div>
  </li>

  <li class="S0-container">
    <h3>
      {{ localize 'S0.Perseveranca'}}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
        data-item-type="perseveranca">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h3>
    <div id="perseveranca" class="S0-inner-container">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 (actorValues actor 'actual_perseverance')}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="virtue" data-item-type="perseveranca">
      </div>
      {{/forLoop}}

      {{/lett}}
    </div>
  </li>

  <li class="S0-container">
    <h3>
      {{ localize 'S0.Quietude'}}
      {{#if canEdit}}
      <a class="S0-icon-rotate" data-action="remove" data-characteristic="temporary" data-type="virtue"
        data-item-type="quietude">
        <i class="fas fa-refresh"></i>
      </a>
      {{/if}}
    </h3>
    <div id="quietude" class="S0-inner-container">
      {{#lett actor=actor
      action=(operators 'ternary' canEdit 'check' '')
      selectedClass=(operators 'ternary' canEdit 'S0-clickable' '')}}

      {{#forLoop 0 (actorValues actor 'actual_quietness')}}
      <div class="S0-characteristic S0-characteristic-temp {{../selectedClass}}" data-action="{{../action}}"
        data-characteristic="temporary" data-type="virtue" data-item-type="quietude">
      </div>
      {{/forLoop}}

      {{/lett}}
    </div>
  </li>
</ul>
