<div class="S0-message-content">
  <h4 class="S0-text-center">{{ localize 'S0.Aprimoramento.Nome' }}</h4>
  <div class="S0-container-2-fixed-column S0-col-gap-6">
    <label class="S0-text-center">{{family}}</label>
    <label class="S0-text-center">{{name}}</label>
  </div>
  <div>

  </div>
  <hr>

  <label class="S0-block"><strong>{{localize 'S0.Nivel'}}:</strong> {{level}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Custo'}}:</strong> {{overload}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Duracao'}}:</strong> {{duration}}</label>

  {{#if (operators 'isNotNull' description)}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Descricao'}}:</label>
  <div class="S0-message-simple-text">
    {{{description}}}
  </div>
  {{/if}}
</div>