<div class="S0-container">
  <label for="substanceEffect.{{uuid}}" class="S0-block S0-mb-6">{{localize 'S0.Efeito'}}</label>
  <select id="substanceEffect.{{uuid}}" class="S0-select" name="selectedEffect">
    {{#each effects as |group|}}
    <optgroup label="{{ group.label }}">
      {{#each group.options as |option|}}
      <option value="{{ option.id }}"> {{ option.description }} </option>
      {{/each}}
    </optgroup>
    {{/each}}
  </select>
</div>