<div class="S0-container S0-flex-col S0-row-gap-6">
  <select class="S0-select" name="selectedTrait">
    {{#each traits as |group|}}
    <optgroup label="{{ group.label }}">
      {{#each group.options as |option|}}
      <option value="{{ option.id }}" {{ option.isSelected }}>
        {{ option.name }}
      </option>
      {{/each}}
    </optgroup>
    {{/each}}
  </select>

  <div id="defaultValuesContainer">
    <div>
      <strong>{{localize 'S0.Custo'}}:</strong>
      <label id="costValue"></label>
    </div>

    <div>
      <strong>{{localize 'S0.Limite'}}:</strong>
      <label id="limitValue"></label>
    </div>

    <div>
      <strong class="S0-block">{{ localize 'S0.Descricao' }}:</strong>
      <div class="S0-message-simple-text"></div>
    </div>
  </div>

  <div id="customFormContainer" style="display: none;" class="S0-pt-8">
    <label class="S0-block S0-mb-6" for="traitDescription">{{localize 'S0.Descricao'}}</label>
    <textarea class="S0-input S0-mb-6" id="traitDescription" name="description" rows="3"></textarea>

    <div class="S0-flex S0-gap-8 S0-mb-6">
      <div class="S0-flex-1">
        <label class="S0-block S0-mb-6" for="traitCost">{{localize 'S0.Custo'}}</label>
        <input id="traitCost" type="number" name="cost" value="1" min="1" />
      </div>
      <div class="S0-flex-1">
        <label class="S0-block S0-mb-6" for="traitLimit">{{localize 'Limite'}}</label>
        <input id="traitLimit" type="number" name="limit" value="1" min="1" />
      </div>
    </div>

    <hr class="S0-my-6">
    <h4>{{localize 'S0.Modificador'}}</h4>

    <label class="S0-block S0-mb-6" for="effectKey">
      {{localize 'S0.Atributos.Atributo'}} / {{localize 'S0.Habilidade'}}
    </label>
    <select id="effectKey" name="key" class="S0-select S0-mb-6">
      {{selectOptions effectsOptions}}
    </select>

    <div id="customParticularityContainer" class="S0-mb-6" style="display: none;">
      <label class="S0-block S0-mb-6" for="skillKey">{{localize 'S0.Habilidade'}}</label>
      <select id="skillKey" name="skillKey" class="S0-select">
        {{selectOptions skillsOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <label class="S0-block S0-mb-6" for="effectValue">{{localize 'S0.Valor'}}</label>
    <input class="S0-mb-6" id="effectValue" type="number" name="value" value="1" />
    <ul class="S0-list-disclosure-closed S0-pl-16 S0-my-0 S0-max-w-200">
      <li class="S0-text-x-small">{{localize 'S0.Traco.Valor_Explicacao'}}</li>
      <li class="S0-text-x-small">{{localize 'S0.Traco.Valor_Explicacao_Fator'}}</li>
    </ul>
  </div>

  <div id="particularityContainer">
    <label for="{{uuid}}.particularity"><strong>{{localize 'S0.Particularidade'}}:</strong></label>
    <input class="S0-mt-6" type="text" name="particularity" id="{{uuid}}.particularity" maxlength="55" />
  </div>

  <div id="selectedParticularityContainer">
    <label for="{{uuid}}.selectedParticularity"><strong>{{localize 'S0.Caracteristica'}}:</strong></label>
    <select class="S0-select S0-mt-6" id="{{uuid}}.selectedParticularity" name="selectedParticularity">
      {{#each characteristic as |group|}}
      <optgroup label="{{ group.label }}">
        {{#each group.options as |option|}}
        <option value="{{ option.id }}">
          {{ option.name }}
        </option>
        {{/each}}
      </optgroup>
      {{/each}}
    </select>
  </div>
</div>