<form class="S0-equipment-sheet" autocomplete="off">
  <ul id="floating-menu" class="S0-float-right-sheet">
    {{> "buttons-float-menu" canEdit=canEdit editable=editable}}
  </ul>

  <div class="S0-page">
    <header class="S0-container sheet-header">
      <h2>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'S0.Nome'}}" {{#unless
          canEdit}}disabled{{/unless}} />
      </h2>
    </header>
  </div>

  <div class="S0-page S0-container">
    <h3>{{localize 'S0.Atributos.Atributos'}}</h3>
    <div class="S0-container-2-fixed-column S0-items-center">
      <select id="{{item.id}}.primary_attribute" name="system.primary_attribute" class="S0-select" {{#unless
        canEdit}}disabled{{/unless}}>
        {{selectOptions attributes selected=(maneuverValues item 'primary_attribute') labelAttr="label" valueAttr="id"
        localize=true}}
      </select>

      <select id="{{item.id}}.secondary_attribute" name="system.secondary_attribute" class="S0-select" {{#unless
        canEdit}}disabled{{/unless}}>
        {{selectOptions attributes selected=(maneuverValues item 'secondary_attribute') labelAttr="label" valueAttr="id"
        localize=true}}
      </select>
    </div>
  </div>

  <div class="S0-page S0-container">
    <h3>{{localize 'S0.Habilidade'}}</h3>
    <div class="S0-container-2-fixed-column S0-items-center">
      <label class="S0-block" for="{{item.id}}.skill">{{localize 'S0.Habilidade'}}:</label>
      <select id="{{item.id}}.skill" name="system.skill" class="S0-select" {{#unless canEdit}}disabled{{/unless}}>
        {{selectOptions abilities selected=(maneuverValues item 'skill') labelAttr="label" valueAttr="id"
        localize=true}}
      </select>

      <label class="S0-block" for="{{item.id}}.specialist">{{localize 'S0.Especialista'}}: </label>
      <div class="S0-flex S0-justify-center S0-items-center">
        <input id="{{item.id}}.specialist" type="checkbox" name="system.specialist" {{checked (maneuverValues
          item 'specialist' )}} {{#unless canEdit}}disabled{{/unless}}>
      </div>
    </div>
  </div>

  <div class="S0-page S0-container">
    <h3>{{localize 'S0.Outros'}}</h3>
    <div class="S0-container-2-fixed-column S0-items-center">
      <label class="S0-block" for="{{item.id}}.difficulty">{{localize 'S0.Dificuldade'}}:</label>
      <select class="S0-select" id="{{item.id}}.difficulty" name="system.difficulty" {{#unless
        canEdit}}disabled{{/unless}}>
        {{#forLoop 5 11}}
        <option value="{{index}}" {{selectIfEq index (maneuverValues ../item 'difficulty' )}}>{{index}}</option>
        {{/forLoop}}
      </select>

      <label class="S0-block" for="{{item.id}}.critic">{{localize 'S0.Critico'}}:</label>
      <select class="S0-select" id="{{item.id}}.critic" name="system.critic" {{#unless canEdit}}disabled{{/unless}}>
        {{#forLoop 7 11}}
        <option value="{{index}}" {{selectIfEq index (maneuverValues ../item 'critic' )}}>{{index}}</option>
        {{/forLoop}}
      </select>

      <label class="S0-block" for="{{item.id}}.pm">{{localize 'S0.Manobra.Custo_PM'}}:</label>
      <input id="{{item.id}}.pm" type="number" name="system.pm" value="{{maneuverValues item 'pm'}}" min="0" {{#unless
        canEdit}}disabled{{/unless}} />

      <label class="S0-block" for="{{item.id}}.experience">{{localize 'S0.Manobra.Custo_XP'}}:</label>
      <input id="{{item.id}}.experience" type="number" name="system.experience"
        value="{{maneuverValues item 'experience'}}" min="0" {{#unless canEdit}}disabled{{/unless}} />

      <label class="S0-block" for="{{item.id}}.damage">{{localize 'S0.Dano'}}:</label>
      <input id="{{item.id}}.damage" type="number" name="system.damage" value="{{maneuverValues item 'damage'}}" min="0"
        {{#unless canEdit}}disabled{{/unless}} />

      <label class="S0-block" for="{{item.id}}.automatic_damage">{{localize 'S0.Automatico'}}:</label>
      <input id="{{item.id}}.automatic_damage" type="number" name="system.automatic_damage"
        value="{{maneuverValues item 'automatic_damage'}}" min="0" {{#unless canEdit}}disabled{{/unless}} />
    </div>
  </div>

  <div class="S0-page S0-container">
    <label class="S0-block" for="{{item.id}}.description">
      {{localize 'S0.Descricao'}}:
    </label>
    <textarea class="S0-resize-none S0-mt-6" id="{{item.id}}.description" name="system.description" maxlength="150"
      rows="5" {{#unless canEdit}}disabled{{/unless}}>{{maneuverValues item 'description'}}</textarea>
  </div>
</form>