<div class="S0-message-content">
  <h4 class="S0-text-center">{{ localize testName }}</h4>
  <hr>

  {{#if haveResult}}

  <div class="dice-tooltip S0-container-contract">
    {{> core-roll-message this}}
  </div>

  <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
    {{ resultMessage }} ( {{ resultValue }} )
  </button>

  {{else}}

  {{> core-roll-message-invalid this}}

  {{/if}}
</div>