<p style="text-align: center;">{{localize 'S0.Teste_Nao_Realizado'}}</p>

<hr>

<div class="dice-tooltip S0-container-contract">
    <p>{{localize 'S0.Teste'}}: {{ formule }}</p>

    <hr>

    {{#if (operators 'gt' penalty 0)}}
    <label style="display: block; margin-block: 4px;">{{localize 'S0.Penalidade'}}: {{ penalty }}</label>
    {{/if}}

    {{#unless (operators 'eq' bonus 0)}}
    <label style="display: block; margin-block: 4px;">{{localize 'S0.Bonus'}}: {{ bonus }}</label>
    {{/unless}}

    {{#if (operators 'gt' automatic 0)}}
    <label style="display: block; margin-block: 4px;">{{localize 'S0.Automatico'}}: {{ automatic }}</label>
    {{/if}}

    <hr>
</div>

<button class="S0-roll-result" data-action="view" data-type="toggle-tooltip">
    {{localize 'S0.Detalhes'}}
</button>