<!-- #region ROLLS -->
{{#if (operators 'isNotEmpty' overloadValues)}}
<p>{{localize 'S0.Sobrecarga'}}:</p>
<ol class="dice-rolls">
  {{#each overloadValues}}
  <li class="S0-d10 roll die d10 S0-d10-overload">{{ this }}</li>
  {{/each}}
</ol>
{{/if}}

{{#if (operators 'isNotEmpty' defaultValues)}}
<p>{{localize 'S0.Rolagem'}}:</p>
<ol class="dice-rolls">
  {{#each defaultValues }}
  <li class="S0-d10 roll die d10">{{ this }}</li>
  {{/each}}
</ol>
{{/if}}

<hr>
<!-- #endregion -->

<!-- #region DIFFICULTY and CRITIC -->
<div class="S0-container-2-column">
  <label>{{localize 'S0.Dificuldade'}}: {{ difficulty }}</label>

  {{#if (operators 'lt' critic 10)}}
  <label>{{localize 'S0.Critico'}}: {{ critic }}</label>
  {{/if}}
</div>

<hr>
<!-- #endregion -->

<!-- #region HALF and ESPECIALIST -->
{{#if (operators 'or' half specialist)}}
<div class="S0-container-2-column">
  {{#if half}}
  <label>
    {{localize 'S0.Dividido'}}
  </label>
  {{/if}}

  {{#if specialist}}
  <label>
    {{localize 'S0.Especialista'}}
  </label>
  {{/if}}
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region BONUS and PENALTY -->
{{#if (operators 'or' (operators 'gt' penalty 0) (operators 'gt' bonus 0))}}
<div class="S0-container-2-column">
  {{#if (operators 'gt' penalty 0)}}
  <label>
    {{localize 'S0.Penalidade'}}: {{ penalty }}
  </label>
  {{/if}}

  {{#if (operators 'gt' bonus 0)}}
  <label>
    {{localize 'S0.Bonus'}}: {{ bonus }}
  </label>
  {{/if}}
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region AUTOMATIC -->
{{#if (operators 'gt' automatic 0)}}
<div class="S0-container-2-column">
  <label>
    {{localize 'S0.Automatico'}}: {{ automatic }}
  </label>
</div>

<hr>
{{/if}}
<!-- #endregion -->

<!-- #region WEAPON -->
{{#if (operators 'isNotNull' weapon)}}
<div class="S0-message-weapon-container">
  <label class="S0-hide-long-text S0-my-4">
    {{weapon.name}}
  </label>

  <hr>

  <ul class="S0-p-0 S0-my-6 S0-mx-10">
    {{#each weapon.changes as |change|}}
    <label>{{change}}</label>
    {{/each}}
  </ul>
</div>

<hr>
{{/if}}
<!-- #endregion -->

{{!-- TODO verificar se vou realmente deixar consciencia aqui --}}
{{!-- {{> button-consciousness canUseConsciousness=canUseConsciousness}} --}}
{{> button-quietness canUseQuietness=canUseQuietness}}
{{> button-perseverance canUsePerseverance=canUsePerseverance}}