<div class="S0-message-content">
  <h4 class="S0-text-center">{{ localize attr1 }} + {{ localize attr2 }}</h4>
  <hr>

  {{#if haveMessageTest}}
  <p class="S0-text-center">{{ messageTest }}</p>
  <hr>
  {{/if}}

  {{#if haveResult}}

  <div class="dice-tooltip S0-container-contract">
    <p>{{localize 'S0.Habilidade'}}: {{ ability }}</p>
    <p>{{localize 'S0.Teste'}}: {{ formule }}</p>

    <hr>

    {{> core-roll-message this}}
  </div>

  <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
    {{ resultMessage }} ( {{ resultValue }} )
  </button>

  {{else}}

  {{> core-roll-message-invalid this}}

  {{/if}}
</div>