<div class="S0-message-content">
  <h4 class="S0-text-center">{{localize 'S0.Vida'}} [ {{ life }} ]</h4>
  <hr>
  <div class="dice-tooltip S0-container-contract">
    <ol class="dice-rolls">
      {{#each diceValues}}
      <li class="S0-d10 roll die d10 S0-life-dice-filter">{{ this }}</li>
      {{/each}}
    </ol>

    <label class="S0-block S0-my-6">{{localize 'S0.Sucessos'}}: {{ resultValue }}</label>
  </div>

  <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
    {{ resultMessage }} ( {{ resultValue }} )
  </button>
</div>