<div class="S0-message-content">
  <h4 style="text-align: center;">{{localize 'S0.Nucleo'}} [ {{ core }} ]</h4>
  <hr>
  <div class="dice-tooltip S0-container-contract">
    <ol class="dice-rolls">
      {{#each diceValues}}
      <li class="S0-d10 roll die d10" style="filter: sepia(1) hue-rotate(330deg);">{{ this }}</li>
      {{/each}}
    </ol>

    <label style="display: block; margin-block: 6px;">{{localize 'S0.Sucessos'}}: {{ resultValue }}</label>
  </div>

  <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
    {{ resultMessage }} ( {{ resultValue }} )
  </button>
</div>