<div class="S0-message-content">
    <h4 style="text-align: center;">{{title}}</h4>
    <hr>
    <div class="dice-tooltip S0-container-contract">
        {{#if (operators 'isNotEmpty' overloadValues)}}
        <p>{{localize 'S0.Sobrecarga'}}:</p>
        <ol class="dice-rolls">
            {{#each overloadValues}}
            <li class="S0-d10 roll die d10 S0-d10-overload">{{ this }}</li>
            {{/each}}
        </ol>
        <p>{{localize 'S0.Rolagem'}}:</p>
        {{/if}}

        <ol class="dice-rolls">
            {{#each diceValues}}
            <li class="S0-d10 roll d10">{{ this }}</li>
            {{/each}}
        </ol>

        <label style="display: block; margin-top: 6px;">{{localize 'S0.Removidos'}}</label>
        <ol style="margin-top: 0px;" class="dice-rolls">
            {{#each removedDiceValues}}
            <li class="S0-d10-small roll d10">{{ this }}</li>
            {{/each}}
        </ol>

        {{#if canUsePerseverance}}
        <button class="S0-roll-result" data-action="check" data-type="perseverance">
            {{localize 'S0.Usar_Perseveranca'}}
            ( <i class="fas fa-check-double"></i> )
        </button>
        {{/if}}
    </div>

    <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
        {{ resultMessage }} ( {{ resultValue }} )
    </button>
</div>