<div class="S0-message-content">
    <h4 style="text-align: center;">{{localize virtue1}} + {{localize virtue2}}</h4>
    <hr>

    <div class="dice-tooltip S0-container-contract">
        <p>{{localize 'S0.Teste'}}: {{ formule }}</p>

        <hr>

        {{#unless (operators 'isEmpty' diceValues)}}
        <p>{{localize 'S0.Rolagem'}}:</p>
        <ol class="dice-rolls">
            {{#each diceValues }}
            <li class="S0-d10 roll die d10">{{ this }}</li>
            {{/each}}
        </ol>
        {{/unless}}

        <hr>

        <div
            style="display: flex; column-gap: 4px; margin-block: 6px; align-items: center; justify-content: space-around;">
            <label>{{localize 'S0.Sucessos'}}: {{ resultValue }} </label>
            <label>{{localize 'S0.Dificuldade'}}: {{ difficulty }}</label>
        </div>

        <section>
            {{#if (operators 'gt' penalty 0)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Penalidade'}}: {{ penalty }}</label>
            {{/if}}

            {{#if (operators 'gt' bonus 0)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Bonus'}}: {{ bonus }}</label>
            {{/if}}

            {{#if (operators 'gt' automatic 0)}}
            <label style="display: block; margin-block: 4px;">{{localize 'S0.Automatico'}}: {{ automatic }}</label>
            {{/if}}
        </section>

        <!-- #region CAN USE CONSCIOUSNESS -->
        {{#if canUseConsciousness}}
        <button class="S0-roll-result S0-blue" data-action="check" data-type="consciousness">
            {{localize 'S0.Usar_Consciencia'}}
            ( <i class="fas fa-comments-question-check"></i> )
        </button>
        {{/if}}
        <!-- #endregion -->
    </div>

    <button class="S0-roll-result {{ resultMessageClasses }}" data-action="view" data-type="toggle-tooltip">
        {{ resultMessage }} ( {{ resultValue }} )
    </button>

</div>