<div class="S0-message-content">
  <h4>{{ localize 'S0.Equipamento' }}: {{name}}</h4>
  <hr>

  {{#if img}}
  <div class="S0-flex S0-flex-col S0-items-center S0-mb-4">
    <img class="S0-object-contain S0-border-none S0-w-128 S0-h-128" src="{{img}}" />
  </div>
  {{/if}}

  <label class="S0-block"><strong>{{localize 'S0.Tipo'}}:</strong> {{typeLabel}}</label>

  {{#if damageLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Dano'}}:</strong> {{damage}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Dano_Automatico'}}:</strong> {{trueDamage}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Tipo_Dano'}}:</strong> {{damageTypeLabel}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Maos'}}:</strong> {{handLabel}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Ocultabilidade'}}:</strong> {{occultabilityLabel}}</label>
  {{/if}}

  {{#if sizeLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Itens.Tamanho'}}:</strong> {{sizeLabel}}</label>
  {{/if}}

  {{#if isProjectile}}
  <label class="S0-block"><strong>{{localize 'S0.Cadencia'}}:</strong> {{cadence}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Capacidade'}}:</strong> {{capacity}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Alcance'}}:</strong> {{range}}</label>
  {{#if special}}
  <label class="S0-block"><strong>{{localize 'S0.Especial'}}</strong></label>
  {{/if}}
  {{/if}}

  {{#if isVehicle}}
  <label class="S0-block"><strong>{{localize 'S0.Tipo'}}:</strong> {{vehicleTypeLabel}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Aceleracao'}}:</strong> {{acceleration}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Velocidade'}}:</strong> {{speed}}</label>
  {{/if}}

  {{#if isSubstance}}
  <label class="S0-block"><strong>{{localize 'S0.Tipo'}}:</strong> {{substanceTypeLabel}}</label>
  <label class="S0-block"><strong>{{localize 'S0.Quantidade'}}:</strong> {{quantity}}</label>
  {{/if}}

  {{#if resistance}}
  <label class="S0-block"><strong>{{localize 'S0.Resistencia'}}:</strong> {{resistance}}</label>
  {{/if}}

  {{#if isSuperEquipment}}
  <label class="S0-block"><strong>{{localize 'S0.SuperEquipamento'}}:</strong> {{localize 'S0.Nivel'}}
    {{superEquipmentLevel}}</label>

  {{#if hasSuperEffects}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Itens.Efeitos'}}:</label>
  <ul class="S0-pl-16 S0-my-2 S0-mx-0">
    {{#each superEffects}}
    <li>[{{this.cost}}] {{this.name}}{{#if this.particularity}} ({{this.particularity}}){{/if}}</li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if hasSuperDefects}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Itens.Defeitos'}}:</label>
  <ul class="S0-pl-16 S0-my-2 S0-mx-0">
    {{#each superDefects}}
    <li>[{{this.cost}}] {{this.name}}{{#if this.particularity}} ({{this.particularity}}){{/if}}</li>
    {{/each}}
  </ul>
  {{/if}}
  {{/if}}

  {{#if description}}
  <label class="S0-block S0-font-bold">{{localize 'S0.Descricao'}}:</label>
  <div class="S0-message-simple-text">
    {{{description}}}
  </div>
  {{/if}}

  {{#if itemUuid}}
  <button class="S0-roll-result" data-action="view" data-type="open-sheet" data-uuid="{{itemUuid}}">
    <i class="fas fa-file-lines"></i> {{localize 'S0.Ficha'}}
  </button>
  {{/if}}
</div>