<div class="S0-message-content">
  <h4>{{localize 'S0.Teste'}}: {{name}}</h4>
  <hr>

  {{#if itemName}}
  <label class="S0-block"><strong>{{localize 'S0.Equipamento'}}:</strong> {{itemName}}</label>
  {{/if}}

  {{#if primaryAttributeLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Atributos.Atributo_Primario'}}:</strong>
    {{primaryAttributeLabel}}</label>
  {{/if}}

  {{#if secondaryAttributeLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Atributos.Atributo_Secundario'}}:</strong>
    {{secondaryAttributeLabel}}</label>
  {{/if}}

  {{#if abilityLabel}}
  <label class="S0-block"><strong>{{localize 'S0.Habilidade'}}:</strong> {{abilityLabel}}</label>
  {{/if}}

  <label class="S0-block"><strong>{{localize 'S0.Bonus'}}:</strong> {{bonus}}</label>

  <label class="S0-block"><strong>{{localize 'S0.Automatico'}}:</strong> {{automatic}}</label>

  <label class="S0-block"><strong>{{localize 'S0.Dificuldade'}}:</strong> {{difficulty}}</label>

  <label class="S0-block"><strong>{{localize 'S0.Especialista'}}:</strong> {{specialistLabel}}</label>

  {{#if critic}}
  <label class="S0-block"><strong>{{localize 'S0.Critico'}}:</strong> {{critic}}</label>
  {{/if}}
</div>