<div class="S0-message-content">
  <h4>{{localize 'S0.Itens.Mensagens.Transferencia_Item'}}</h4>
  <hr>
  <label class="S0-block">{{localize 'S0.Personagem'}} <strong>{{sourceActorName}}</strong> {{localize 'S0.Itens.Mensagens.Deu_Item'}}
    <strong>{{itemName}}</strong> {{localize 'S0.Itens.Mensagens.Para'}} <strong>{{targetActorName}}</strong>.</label>
  <button class="S0-roll-result S0-mt-4" data-action="view" data-type="open-sheet" data-uuid="{{targetUuid}}">
    <i class="fas fa-file-lines"></i> {{localize 'S0.Item'}}
  </button>
</div>