<div>
  <p>{{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Tokens_Selected'}}: <b
      class="S0-text-red S0-text-16">{{qtd}}</b>.</p>
  <p> {{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Choose_Action'}}</p>
  <ul class="S0-my-4">
    <li>
      <b>
        {{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Content_Simple_Title'}}
      </b> {{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Content_Simple_Desc'}}
    </li>
    <li>
      <b>
        {{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Content_All_Title'}}
      </b> {{localize 'S0.CONTROL.REMOVE_TOKENS_EFFECTS_BUTTON.Content_All_Desc'}}
    </li>
  </ul>
  <br>
</div>